/* reset do css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #000;
}

.title { 
  font-size: 2em;
  text-align: center;
}

aside {
  display: flex;
  text-align: center;
  background-image: url('./../img/hermes-rivera-baRdxMkxv4M-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*background: #7F7FD5;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

article {
  padding: 1.5em;
  min-height: 100vh;
}

.logo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.fundo-logo {
  display: none;
}

.texto-logo {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  display: block;
  line-height: 100%;
  transform: rotate(336.5deg)
}

nav {
  width: 100vw;
  /* margin-top: 2em; */
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  list-style: none;
  margin: 0 1em;
}

nav a {
  text-decoration: none;
  background-color: #fff;
  display: block;
  margin: 1em 0;
  padding: 0.5em 1em;
  border-radius: 6px;
  transition: box-shadow 500ms;
  color: black;
}

nav a:hover {
  box-shadow: 0 0 10px #fff;
}

.sobre p, 
.redes-sociais p, 
.contato p, 
.meus-trabalhos p {
  line-height: 1.5em;
  text-indent: 2em;
  text-align: justify;
  margin-top: 3em;
}

.sobre,
.contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sobre {
  background-color: #fff;
  /* background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%237f7fd5' fill-opacity='0.16'%3E%3Cpath d='M84 23c-4.417 0-8-3.584-8-7.998V8h-7.002C64.58 8 61 4.42 61 0H23c0 4.417-3.584 8-7.998 8H8v7.002C8 19.42 4.42 23 0 23v38c4.417 0 8 3.584 8 7.998V76h7.002C19.42 76 23 79.58 23 84h38c0-4.417 3.584-8 7.998-8H76v-7.002C76 64.58 79.58 61 84 61V23zM59.05 83H43V66.95c5.054-.5 9-4.764 9-9.948V52h5.002c5.18 0 9.446-3.947 9.95-9H83v16.05c-5.054.5-9 4.764-9 9.948V74h-5.002c-5.18 0-9.446 3.947-9.95 9zm-34.1 0H41V66.95c-5.053-.502-9-4.768-9-9.948V52h-5.002c-5.184 0-9.447-3.946-9.95-9H1v16.05c5.053.502 9 4.768 9 9.948V74h5.002c5.184 0 9.447 3.946 9.95 9zm0-82H41v16.05c-5.054.5-9 4.764-9 9.948V32h-5.002c-5.18 0-9.446 3.947-9.95 9H1V24.95c5.054-.5 9-4.764 9-9.948V10h5.002c5.18 0 9.446-3.947 9.95-9zm34.1 0H43v16.05c5.053.502 9 4.768 9 9.948V32h5.002c5.184 0 9.447 3.946 9.95 9H83V24.95c-5.053-.502-9-4.768-9-9.948V10h-5.002c-5.184 0-9.447-3.946-9.95-9zM50 50v7.002C50 61.42 46.42 65 42 65c-4.417 0-8-3.584-8-7.998V50h-7.002C22.58 50 19 46.42 19 42c0-4.417 3.584-8 7.998-8H34v-7.002C34 22.58 37.58 19 42 19c4.417 0 8 3.584 8 7.998V34h7.002C61.42 34 65 37.58 65 42c0 4.417-3.584 8-7.998 8H50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}

.avatar {
  width: 200px;
  height: 200px;
  float: left;
  margin-top: 3em;
  margin-right: 1em;
  border-radius: 20px;
}

.contato img {
  width: 100px;
}

.meus-trabalhos .itens,
.contato .itens {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.contato a {
  padding: 0 1em;
}

.meus-trabalhos h2 {
  text-align: center;
  margin-top: 3em;
}

.meus-trabalhos img {
  width: 100%;
  height: 260px; 
  border-radius: 10px 10px 0 0;
  border-bottom: thin solid #bbb;
  object-fit: cover;
  filter: brightness(120%);
}

.meus-trabalhos .itens {
  flex-wrap: wrap;
}

.meus-trabalhos figure {
  text-align: center;
  width: 100%;
}

.card {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  background-color: #fff;
  color: #000;
  /* border: solid rgb(191, 191, 211) thin; */
  border-radius: 10px;
  box-shadow: 0 0 10px #bbb;
}

.card div {
  padding: 0.5em;
}

.card h3,
.card p {
  text-align: center;
  margin: 0;
}

.card p {
  margin-top: 0.5em;
  text-indent: 0;
}

.meus-trabalhos .card {
  margin: 1em;
}

.wrap-about {
  background-color: #fff;
  padding: 2rem;
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px #bbb; */
}

@media (min-width: 800px) {
  aside {
    min-width: 300px;
    padding: 0.5em;
    position: fixed;
    top: 0;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px #bbb;
  }
  
  .fundo-logo {
    display: flex;  
    background-color: #fff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
  }
  
  .principal {
    margin-left: 300px;
  }
  
  nav {
    margin-top: 2em;
    width: 100%;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .wrap-about {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
  
}

.text-uppercase {
  text-transform: uppercase;
}